 body{
    font-family: "Open Sans";  
    background-color: rgb(169, 178, 193);#C5D1D9
 }
 h1
 {
    font-family: "Franklin Gothic Medium", 
 }
background-color: #C5D1D9
img;src ="https://en.wikipedia.org/wiki/File:Sally_Ride_(1984).jpg